page-home {

}

.buttons-vertical{
    height: 100%;
}
.buttons-vertical  button {
    margin: 20px auto;
}

hr {
    display: block;
    border-top: 2px solid #00B2B2;
    margin: 15px auto 15px;
    padding: 0;
    width: 50%;
}